@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: hsla(0, 0%, 0%, 0.5);
    background-clip: padding-box;
    border-radius: 12px;
  }
}

@layer components {
  .label {
    @apply rounded-l-lg bg-slate-300 text-slate-700 font-bold px-3 py-1.5;
  }

  .input {
    @apply rounded-r-lg outline-none px-3 py-1.5;
  }

  .btn {
    @apply bg-amber-800 text-white rounded-lg hover:bg-amber-700 font-bold transition px-3 py-2 cursor-pointer;
  }
  
  .btn-admin {
    @apply bg-slate-500 text-white rounded-lg hover:bg-slate-600 font-bold transition px-3 py-2 cursor-pointer;
  }

  .admin-main {
    display: grid;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    grid-template-areas: 'sidebar content';
    grid-template-columns: auto 4fr;
  }

  .sidebar {
    grid-area: sidebar;
    transition: width 300ms;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    width: 16rem;
  }

  @media (hover: hover) {
    .sidebar {
      overflow: hidden;
    }

    .sidebar:hover {
      overflow-y: scroll;
    }
  }

  .content {
    grid-area: content;
    overflow-y: auto;
    min-width: 300px;
  }

  .menu-link {
    @apply flex mb-2 px-3 py-2 transition rounded-lg text-white hover:bg-slate-600;
  }

  .menu-link.active {
    @apply bg-slate-600;
  }
}
